@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: rgb(143, 143, 143);
font-family: "Varela Round";    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Varela Round";
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
}

footer {
    margin-top: 20px;
    height: 60px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    background-color: rgb(192, 192, 192);
}

.row {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
    background: rgba(255, 255, 238);
}

.content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 2% 50px;
}

.sticky_header .row .content {
    padding: 0;
}

.dark {
    background: rgb(170, 187, 119);
    color: rgb(255, 255, 255);
}

.hero {
    position: relative;
    background: url("https://raw.github.com/pederan/ImageScroll/master/demo/img/german_landscapes-1600x900.jpg") no-repeat no-repeat 50% 50%;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Varela Round";
}

    .hero h1 {
        font-size: 60px;
        line-height: 1.3;
    }

        .hero h1 span {
            font-size: 40px;
            color: rgb(255, 255, 255);
            border-bottom: 2px solid rgb(255, 255, 255);
            padding-bottom: 12px;
            line-height: 3;
        }

.sticky_header {
    position: fixed;
    top: 0;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -ms-opacity: 0;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Varela Round";
}

@media only screen and (max-width: 766px) {
    .sticky_header {
        padding-top: 25px;
    }
}

.open-nav {
    max-height: 400px !important;
}

    .open-nav .mobile-toggle {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

.sticky {
    background-color: rgb(255, 255, 238);
    background-color: rgba(255, 255, 238, 0.93);
    -ms-opacity: 1;
    opacity: 1;
    top: 0;
    border-bottom: 1px solid silver;
}

.logo {
    width: 50px;
    font-size: 25px;
    color: rgb(143, 143, 143);
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
    }
}

nav {
    float: right;
    width: 60%;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}

@media only screen and (max-width: 766px) {
    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
}

nav ul a {
    color: rgb(136, 136, 136);
    text-transform: uppercase;
    font-size: 16px;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    -ms-border-radius: 1000px;
    border-radius: 1000px;
    background: rgb(143, 143, 143);
    display: block;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}
